@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html {
    font-family: Tahoma, Geneva, Verdana, sans-serif
  }
}

:root{
  --white: #ffffff;
  --green: #BCEF30;
  --dark-gray: #1D1D1D;
  --light-gray: #ECECE8;
}

.react-tel-input .form-control{
  border-radius: 0%;
  outline: none;
  border: none;
}



